body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

#quiz-container {
    background-color: #333;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answer {
    margin-bottom: 10px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #ddd;
}

#back-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

#back-btn:hover {
    color: #ddd;
    text-decoration: underline;
}
