/* CSS für die Navbar */
.navbar {
   color: black; /* Hintergrundfarbe der Navbar */
  overflow: hidden; /* Überlauf verbergen */
  width: 100%; /* Breite auf 100% der Seitenbreite festlegen */
  margin: 0; /* Nullrand festlegen */
}

/* CSS für die Überschrift */
h1 {
  float: left; /* Links ausrichten */
  margin: 0; /* Nullabstand */
  padding: 15px; /* Innenabstand */
  color: white; /* Textfarbe */
}

/* CSS für die Navbar-Punkte */
.navbar a {
  float: right; /* Rechts ausrichten */
  display: block; /* Blockelement */
  color: white; /* Textfarbe */
  text-align: center; /* Zentrierte Ausrichtung */
  padding: 14px 20px; /* Innenabstand */
  text-decoration: none; /* Textdekoration entfernen */
  transition: background-color 0.3s; /* Übergangseffekt für die Hintergrundfarbe */
}

/* CSS für die Navbar-Punkte beim Hovern */
.navbar a:hover {
  background-color: gray; /* Hintergrundfarbe ändern beim Hovern */
  color: white; /* Textfarbe ändern beim Hovern */
}
