body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hallo {
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 1000px;
    padding: 50px;
}
.hallo a {
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 1000px;
      padding: 50px;
}
.hallo b{
    border: 1px solid black;
        margin-top: 50px;
    margin-right: 1000px;
      padding: 50px;
}
.hallo c{
    border: 1px solid black;
        margin-top: 50px;
    margin-right: 1000px;
      padding: 50px;
}
.hallo d{
    border: 1px solid black;
        margin-top: 50px;
    margin-right: 1000px;
      padding: 50px;
}
.hallo e{
    border: 1px solid black;
        margin-top: 50px;
    margin-right: 1000px;
      padding: 50px;
}
.navbar-left {
    flex-grow: 1;
}

.navbar h1 {
    margin: 0;
    font-size: xx-large;
}

.navbar-right {
    display: flex;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.navbar-link:hover {
    text-decoration: underline;
}
.navbar-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.navbar-btn:hover{
    text-decoration: underline;
}
.content {
    padding: 20px;
}

/* Responsives Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
        margin-left: auto;
    }

    .navbar-btn {
        margin-left: 0;
        margin-top: 5px;
    }
}
