/* CSS für die Navbar */
.navbar {
  background-color: black; /* Hintergrundfarbe der Navbar */
  overflow: hidden; /* Überlauf verbergen */
}

/* CSS für die Überschrift */
.navbar h1 {
  float: left; /* Links ausrichten */
  margin: 0; /* Nullabstand */
  padding: 15px; /* Innenabstand */
  color: white; /* Textfarbe */
}

/* CSS für die Navbar-Punkte */
.navbar ul {
  list-style-type: none; /* Listenpunkttyp entfernen */
  margin: 0; /* Nullabstand */
  padding: 0; /* Nullpolsterung */
  float: right; /* Rechts ausrichten */
}

.navbar li {
  float: left; /* Links ausrichten */
}

.navbar li a {
  display: block; /* Blockelement */
  color: white; /* Textfarbe */
  text-align: center; /* Zentrierte Ausrichtung */
  padding: 15px; /* Innenabstand */
  text-decoration: none; /* Textdekoration entfernen */
}

.navbar li a:hover {
  background-color: gray; /* Hintergrundfarbe ändern beim Hovern */
}
