terbody {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gt {
    background: grey;
}

h2 {
    font-size: x-large;
}

p {
    color: white;
}

nav {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0px;
}


.döner {
    margin-top: 50px;
    margin-left: 960px;
    padding: 50px;
    border: 5px solid black;
    background: white;
    width: 960px;
}

.element {
    width: 960px;
    margin-top: 50px;
    padding: 50px;
    border: 5px solid black;
    background: white;
}

.navbar-left {
    flex-grow: 1;
    font-size: x-large;
}
.image{
    hight: 1000px;
    widht: 750px;
    float:right;
}

.navbar h1 {
    margin: 0;
    font-size: xx-large;
}

.navbar-right {
    display: flex;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: large;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-btn:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}
.se{
    font-size: xxx-large
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
        margin-left: auto;
    }

    .navbar-btn {
        margin-left: 0;
        margin-top: 5px;
    }

    .image {
        margin-left: 0;
    }

    .döner,
    .element {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}
